*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#form-container{
    width: 100%;
    max-width: 600px;
    margin: auto;
    background: #e9f5ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label{
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}
input{
    width: 100%;
    max-width: 400px;
    outline: none;
    font-size: 1rem;
    color: #4d5255;
    padding: 0.7rem 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: end;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#tip-percent{
    padding-right: 2rem;
}
.percent-container{
    width: 100%;
    max-width: 400px;
    position: relative;
}
.percent-container span{
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #222;
}
button{
    display: block;
    margin: auto;
    min-width: 150px;
    min-height: 50px;
    background-color: #b0daf7;
    color: #333;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.output{
    width: 100%;
    max-width: 600px;
    min-height: 150px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.output-msg{
    padding: 1rem;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.hidden{
    display: none;
}

.wrong-input{
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

@media (max-width:768px) {
    .container{
        flex-direction: column;
    }
    
}